.new-address-main-wrapper{
    padding-bottom: 20px;
}
.new-address-wrapper2{
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 30px 30px 20px;
}
.new-address-wrapper2 .user-name p{
    padding-bottom: 0;
}
.main-save{
    margin: 25px 0 20px!important;
}
@media(max-width: 575px){
    .new-address-wrapper2 .social-title{
        margin-right: 0 !important;
    }
}